@model BlogPost
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "添加新的文章";
}

<div class="container">
    <fieldset>
        <legend>添加新的文章</legend>
        <form class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">文章标题</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="文章标题" autocomplete="off" value="@Model.Title" autofocus required>
                <div class="invalid-feedback">
                    必填
                </div>
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">文章链接</label>
                <input type="text" class="form-control" id="link" name="link" placeholder="文章链接" value="@Model.Link" autocomplete="off" required>
                <div class="invalid-feedback">
                    必填
                </div>
            </div>
            <div class="mb-3">
                <label for="publishTime" class="form-label">发布时间</label>
                <input type="date" class="form-control" id="publishTime" name="publishTime" value="@Model.PublishTime.ToDate()" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="accessCount" class="form-label">访问数量</label>
                <input type="number" class="form-control" id="accessCount" name="accessCount" value="@Model.AccessCount" min="0" step="1" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="mdContent" class="form-label">文章内容</label>
                <textarea class="form-control" id="mdContent" name="mdContent" rows="5" placeholder="文章内容" autocomplete="off">@Model.MdContent</textarea>
            </div>
            <div class="form-check form-switch mb-3">
                @if (Model.IsTopping)
                {
                    <input class="form-check-input" type="checkbox" id="isTopping" name="isTopping" checked>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" id="isTopping" name="isTopping">
                }
                <label class="form-check-label" for="isTopping">置顶</label>
            </div>
            <div class="form-check form-switch mb-3">
                @if (Model.IsPublic)
                {
                    <input class="form-check-input" type="checkbox" id="isPublic" name="isPublic" checked>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" id="isPublic" name="isPublic">
                }
                <label class="form-check-label" for="isPublic">公开发布</label>
            </div>
            <div class="form-check form-switch mb-3">
                @if (Model.ContainsMath)
                {
                    <input class="form-check-input" type="checkbox" id="containsMath" name="containsMath" checked>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" id="containsMath" name="containsMath">
                }
                <label class="form-check-label" for="containsMath">包含数学公式</label>
            </div>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">提交</button>
            </div>
        </form>
    </fieldset>
</div>

@section Script {
    <script>
        //const shortCommentEditor = createEditor("comment")
        const form = document.querySelector("form");
        form.addEventListener('submit',
            function (event) {
                event.preventDefault();
                event.stopPropagation();
                submitRequest("/@Constants.AreaAdmin/blog/post", { form: form, method: "PUT", body: new URLSearchParams(new FormData(form)), contentType: "application/x-www-form-urlencoded" });
            });
    </script>
}