@model List<BlogPostView>
@{
    Layout = "_BlogLayout";
}
<div class="alert alert-secondary">
    以下是我的博客文章列表，所有文章均为个人言论，除非特殊声明，均与我的雇主或者其他任何团体无关。未经授权，不可转载演绎。
</div>

@{
    var maxItems = 10;
    var initItems = Model.Take(maxItems).ToList();
    var hiddenItems = Model.Skip(maxItems).ToList();

    foreach (var item in initItems)
    {
        var c = item.Raw.IsPublic ? "" : "text-secondary";
        <div class="@c mb-3">
            <div class="small text-muted d-flex">
                <span class="flex-grow-1">@Html.Raw(item.Metadata)</span>
                <span>
                    @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                    {
                        <a href="/admin/blog/post/edit/@item.Raw.Id"><i class="bi bi-pencil-square text-success"></i></a>
                    }
                </span>
            </div>
            <a href="@item.FullLink" class="fs-5 text-reset text-decoration-none">
                @item.Raw.Title
            </a>
        </div>
    }

    if (hiddenItems.Any())
    {
        <div class="d-grid" id="moreItemsButtonDiv">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#moreItems" aria-expanded="false" aria-controls="moreItems">点击显示所有文章</button>
        </div>
        <div class="collapse" id="moreItems">
            @foreach (var item in hiddenItems)
            {
                var c = item.Raw.IsPublic ? "" : "text-secondary";
                <div class="@c mb-3">
                    <div class="small text-muted d-flex">
                        <span class="flex-grow-1">@Html.Raw(item.Metadata)</span>
                        <span>
                            @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                            {
                                <a href="/admin/blog/post/edit/@item.Raw.Id"><i class="bi bi-pencil-square text-success"></i></a>
                            }
                        </span>
                    </div>
                    <a href="@item.FullLink" class="fs-5 text-reset text-decoration-none">
                        @item.Raw.Title
                    </a>
                </div>
            }
        </div>
    }
}