@model PostViewModel
@inject IOptions<AppConfig> Config

<article class="post">
    <div class="post-title">
        <i class="fas fa-angle-down"></i>
        @Model.Post.Title
    </div>
    <div class="text-muted text-left d-block d-lg-none post-meta">@Html.Raw(Model.GetSimpleMetadataHtml())</div>
    <div class="mt-2 mb-4 post-content">
        @Html.Raw(Model.Post.HtmlContent)
        
        <p class="text-muted">（本文完）</p>
    </div>
</article>

<div class="alert alert-info post-alert" role="alert">
    <ul>
        @{
            var meta = Model.GetCategoryAndTagHtml();
            if (!string.IsNullOrEmpty(meta))
            {
                <li>发表于 @Html.Raw(meta)</li>
            }
        }
        <li>
            如果您有关于这篇文章的评论，请发送电子邮件至 <a href="mailto:@BlogConstant.AuthorEmail?subject=评论 - @Model.Post.Title&body=Good job！">@BlogConstant.AuthorEmail</a>。
        </li>
    </ul>
</div>

@section stickySidebar{
    <partial name="_AsidePostInfo" model="@Model"/>
}

@section script{
    <script src="~/script/post.min.js" defer asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            hljs.initHighlightingOnLoad();
            console.log('highlightjs executed');
        }, false);
    </script>
}

@section style{
    <link rel="stylesheet" href="~/style/post.min.css" asp-append-version="true" />
}