@model PostViewModel
@inject IOptions<BlogOption> Config
@{
    ViewData["Title"] = Model.Current.Metadata.Title;
}

<div>
    <div class="mb-3">
        <div class="text-muted fs-sm">@Html.Raw(Model.MetadataHtml)</div>
        <h2 class="mb-3">
            <span>
                @Model.Current.Metadata.Title

            </span>
            @if (Model.Current.Metadata.IsTopping)
            {
                <span class="badge bg-success fs-sm">置顶</span>
            }

            @if (!Model.Current.Metadata.IsPublished)
            {
                <span class="badge bg-warning fs-sm">
                    未发布
                </span>
            }
        </h2>
    </div>
    <div class="post-content">
        @Html.Raw(Model.Current.HtmlContent)
        <p class="text-muted">（本文完）</p>
    </div>

    <div class="alert alert-warning post-alert fs-sm" role="alert">
        <ul>
            <li>最后更新于：<span title="@Model.Current.Metadata.LastUpdateTime.ToChinaDateAndTime()">@Model.Current.Metadata.PublishTime.ToChinaDate()</span></li>
            @{
                var html = Model.TagHtml;
                if (!string.IsNullOrEmpty(html))
                {
                    <li>@Html.Raw(html)</li>
                }
            }

            @if (Model.Previous != null)
            {
                <li>前一篇：<a href="@Model.Previous.GetFullPath(Config.Value.BlogRemoteEndpoint)" class="text-decoration-none">@Model.Previous.Metadata.Title</a></li>
            }

            @if (Model.Next != null)
            {
                <li>后一篇：<a href="@Model.Next.GetFullPath(Config.Value.BlogRemoteEndpoint)" class="text-decoration-none">@Model.Next.Metadata.Title</a></li>
            }
            <li>
                文章的留言，请发送电子邮件至
                <a href="mailto:@Config.Value.AdminEmail?subject=RE:@Model.Current.Metadata.Title&body=Good job！" class="text-decoration-none">
                    @Config.Value.AdminEmail
                </a>
            </li>
        </ul>
    </div>
</div>

@section Script {
    <script>
        hljs.highlightAll();
    </script>
    @if (Model.Current.Metadata.ContainsMath)
    {
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    }
}