@model BlogPost
@inject IOptions<AppConfig> Config

<article class="post">
    <div class="post-title">
        <i class="fas fa-angle-down"></i>
        @{
            if (!Model.IsPublic)
            {
                <span class="badge badge-secondary">Private</span>
            }
        }
        @Model.Title
    </div>
    <div class="text-muted text-left d-block d-lg-none post-meta">
        <time datetime="@Model.PublishTime.ToDateAndTime()"></time>
        @Html.Raw(Model.GetSimpleMetadataHtml())
    </div>
    <div class="mt-2 mb-4 post-content">
        @Html.Raw(Model.ContentHtml)

        <p class="text-muted">（本文完）</p>
    </div>
    
    
</article>

<div class="alert alert-info post-alert" role="alert">
    <ul>
        @{
            var meta = Model.GetCategoryAndTagHtml();
            if (!string.IsNullOrEmpty(meta))
            {
                <li>发表于 @Html.Raw(meta)</li>
            }

            if (Model.PrevPost != null)
            {
                <li>前一篇：<a href="@Model.PrevPost.FullUrl">@Model.PrevPost.Title</a></li>
            }

            if (Model.NextPost != null)
            {
                <li>后一篇：<a href="@Model.NextPost.FullUrl">@Model.NextPost.Title</a></li>
            }
        }
        <li>
            关于这篇文章的评论，请发送电子邮件至 <a href="mailto:@Config.Value.Common.AdminEmail?subject=评论 - @Model.Title&body=Good job！">@Config.Value.Common.AdminEmail</a>。
        </li>
    </ul>
</div>

<div id="imgModal" class="modal">
    <span id="modal-close">&times;</span>
    <img id="modal-content">
    <div id="modal-caption"></div>
</div>

@section sidebar{
    @await Component.InvokeAsync("PostRecommend", new { adminView = ViewData["AdminView"], excludedLink = Model.Link })
}

@section stickySidebar{
    <partial name="_AsidePostInfo" model="@Model" />
}

@section script{
    @if (Model.ContainsMath)
    {
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
        </script>
        <script src="~/script/post-mathjax.min.js" defer asp-append-version="true"></script>
    }
    else
    {
        <script src="~/script/post.min.js" defer asp-append-version="true"></script>
    }
}

@section style{
    <link rel="stylesheet" href="~/style/post.min.css" asp-append-version="true" />
}