@model PostViewModel

<article class="post">
    <div class="text-muted d-sm-block post-meta">@Html.Raw(Model.Post.GetMetadataHtml())</div>
    <div class="post-title pt-1">

        @Model.Post.Title
        @if (Model.Post.IsTopping)
        {
            <span class="badge badge-light">置顶</span>
        }
        @if (!Model.Post.IsPublic)
        {
            <span class="badge badge-success">
                未发布
            </span>
        }
    </div>
    
    <div class="mt-2 mb-4 post-content">
        @Html.Raw(Model.Post.ContentHtml)
        <p class="text-muted">（本文完）</p>
    </div>
</article>

<div class="alert alert-warning post-alert" role="alert">
    <ul>
        <li>最后更新于：@Model.Post.LastUpdateTimeString</li>
        @{
            var html = Model.Post.GetCategoryAndTagHtml();
            if (!string.IsNullOrEmpty(html))
            {
                <li>@Html.Raw(html)</li>
            }
        }
        @if (Model.PrevPost != null)
        {
            <li>前一篇：<a href="@Model.PrevPost.FullUrl">@Model.PrevPost.Title</a></li>
        }

        @if (Model.NextPost != null)
        {
            <li>后一篇：<a href="@Model.NextPost.FullUrl">@Model.NextPost.Title</a></li>
        }
        <li>
            文章的留言，请发送电子邮件至
            <a href="mailto:@Global.Config.Common.AdminEmail?subject=留言 - @Model.Post.Title&body=Good job！">
                @Global.Config.Common.AdminEmail
            </a>
        </li>
    </ul>
</div>

<div id="imgModal" class="modal">
    <span id="modal-close">&times;</span>
    <img id="modal-content">
    <div id="modal-caption"></div>
</div>



@section script{
    @if (Model.Post.ContainsMath)
    {
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
        </script>
        <script src="~/script/post-mathjax.min.js" defer asp-append-version="true"></script>
    }
    else
    {
        <script src="~/script/post.min.js" defer asp-append-version="true"></script>
    }
}

@section style{
    <link rel="stylesheet" href="~/style/post.min.css" asp-append-version="true" />
}