@inject ISwanService _swanService
@model IEnumerable<IGrouping<int, SwanPost>>
@{
    Layout = "_LayoutPublic";
    ViewData["Title"] = "文章存档";
}

<div data-bs-spy="scroll" data-bs-target="#archiveIndex" data-bs-smooth-scroll="true">
    @foreach (var item in Model)
    {
        <div class="pb-2 mb-2 pt-3 border-bottom">
            <h5 class="ps-2 mb-3" id="year-@item.Key"><i class="bi bi-folder2"></i> @item.Key 年文章</h5>
            @foreach (var item2 in item)
            {
                <div class="mb-3 ps-2 pe-1">
                    <span class="small text-muted me-2"><i class="bi bi-caret-right"></i> @item2.PublishDate.ToCnDate(true)</span>
                    <a href="@item2.GetFullLink()" class="large-title">
                        <i class="bi bi-hash small text-muted"></i>@item2.Title
                    </a>
                </div>
            }
        </div>
    }
</div>


@section Aside{
    <div class="card" id="archiveIndex">
        <div class="card-header">
            <span class="pb-1 border-bottom border-dark pe-2 text-truncate">
                <i class="bi bi-archive-fill"></i> 存档索引
            </span>
        </div>
        <div class="list-group">
            @foreach (var item in Model)
            {
                <div class="list-group-item list-group-action text-muted">
                    <a href="#year-@item.Key"><i class="bi bi-folder2"></i> @item.Key 年文章</a>
                </div>
            }
        </div>
    </div>
}

@section Script{
    <script>
        setActive(document.querySelector("#navbarPost"));
    </script>
}