@inject ISwanService _swanService
@model SwanPost
@{
    Layout = "_LayoutPublic";
}


<h3 class="mb-2 large-title">@Model.Title</h3>
<div class="small text-muted">
    <i class="bi bi-calendar-check"></i> @Model.PublishDate.ToCnDate()
</div>

<article class="mt-4 mb-2 post">
    @Html.Raw(Model.HtmlContent)
</article>

@section Aside{
    @if (Model.RecommendPostsByTag.Any())
    {
        <div class="card mb-4">
            <div class="card-header">
                <span class="pb-1 border-bottom border-dark pe-2 text-truncate"><i class="bi bi-tags-fill"></i> 推荐文章</span>
            </div>
            <div class="list-group">
                @foreach (var item in Model.RecommendPostsByTag)
                {
                    <a href="@item.GetFullLink()" class="list-group-item list-group-action text-muted">
                        <i class="bi bi-hash"></i>@item.Title
                    </a>
                }
            </div>
        </div>
    }

    @if (Model.RecommendPostsBySeries.Any())
    {
        <div class="card mb-4">
            <div class="card-header">
                <span class="pb-1 border-bottom border-dark pe-2 text-truncate"><i class="bi bi-bookmarks-fill"></i> 系列文章</span>
            </div>
            <div class="list-group">
                @foreach (var item in Model.RecommendPostsBySeries)
                {
                    <a href="@item.GetFullLink()" class="list-group-item list-group-action text-muted">
                        <i class="bi bi-hash"></i>@item.Title
                    </a>
                }
            </div>
        </div>
    }

    <div class="card">
        <div class="card-header">
            <span class="pb-1 border-bottom border-dark pe-2 text-truncate"><i class="bi bi-info-circle-fill"></i> 文章信息</span>
        </div>
        <div class="list-group">
            @if (Model.PreviousPost != null)
            {
                <a href="@Model.PreviousPost.GetFullLink()" class="list-group-item list-group-action text-muted"><i class="bi bi-dot"></i> 前一篇： @Model.PreviousPost.Title</a>
            }

            @if (Model.NextPost != null)
            {
                <a href="@Model.NextPost.GetFullLink()" class="list-group-item list-group-action text-muted"><i class="bi bi-dot"></i> 后一篇： @Model.NextPost.Title</a>
            }

            <div class="list-group-item text-muted"><i class="bi bi-dot"></i> 最后修改于：@Model.LastUpdatedAt</div>
        </div>
    </div>
}