@inject ISwanService _swanService
@{
    Layout = "_LayoutPublic";
}

<div>
    @foreach(var item in (await _swanService.GetBlogPostsAsync()).OrderByDescending(x => x.PublishDate).Take(8))
    {
        <div class="mb-3">
            <h5 class="large-title">
                <a href="@item.GetFullLink()" class="text-decoration-none">@item.Title</a>
            </h5>
            <div>
                @Html.Raw(item.HtmlExcerpt)
            </div>
            <div>
                Tags: Series:
            </div>
        </div>
    }
</div>

@section Aside{
    <div class="card">
        <div class="card-header">
            最热文章
        </div>
        <ul class="list-group list-group-flush">
            @foreach(var item in (await _swanService.GetBlogPostsAsync()).OrderByDescending(x => x.PageStat.Hit).Take(8))
            {
                <li class="list-group-item list-group-action">
                    <a href="@item.GetFullLink()">@item.Title</a>
                </li>
            }
        </ul>
    </div>
}