@model IndexViewModel
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-4 mb-4 h-100">
        <div class="list-group">
            <a href="/admin/log" class="list-group-item list-group-item-action"><i class="bi bi-journal"></i> 查看日志</a>
            <a href="/admin/blacklist" class="list-group-item list-group-item-action"><i class="bi bi-x-octagon"></i> 管理黑名单</a>
            <a href="/admin/blog/post/add" class="list-group-item list-group-item-action"><i class="bi bi-type-bold"></i> 发表新的文章</a>
            <a href="/admin/read/add" class="list-group-item list-group-item-action"><i class="bi bi-book"></i> 发表新的阅读</a>

            <a href="javascript:;" id="admin_upload" class="list-group-item list-group-item-action text-success"><i class="bi bi-cloud-upload"></i> 上传文件</a>
            <a href="javascript:;" id="admin_shutdown" class="list-group-item list-group-item-action text-danger"><i class="bi bi-sign-stop-fill"></i> 关闭站点</a>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header  text-center fw-bold">博客</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        文章总数
                    </span>
                    <span class="badge bg-info rounded-pill">@Model.BlogPostTotal</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        公开文章总数
                    </span>
                    <span class="badge bg-success rounded-pill">@Model.BlogPostPublic</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        未公开文章总数
                    </span>
                    <span class="badge bg-dark rounded-pill">@Model.BlogPostPrivate</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        文章访问总数
                    </span>
                    <span class="badge bg-dark rounded-pill">@Model.BlogPostVisitTotal</span>
                </li>
            </ul>

        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header text-center fw-bold">阅读</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        阅读总数
                    </span>
                    <span class="badge bg-info rounded-pill">@Model.ReadItemTotal</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        公开阅读总数
                    </span>
                    <span class="badge bg-success rounded-pill">@Model.ReadItemPublic</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="bi bi-info-circle"></i>
                        未公开阅读总数
                    </span>
                    <span class="badge bg-dark rounded-pill">@Model.ReadItemPrivate</span>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Script{
    <script>
        document.querySelector("#admin_upload").addEventListener("click", function () {
            var input = document.createElement('input');
            input.type = 'file';
            input.setAttribute("name", "file");

            input.onchange = e => {
                var file = e.target.files[0];
                let formData = new FormData();
                formData.append("file", file)
                submitRequest("/@Constants.AreaAdmin/file/upload", {
                    method: "POST",
                    body: formData,
                    contentType: "",
                    okAction: function (url) {
                        showInfoMessageModal(`<img class="img-fluid" src="${url}"><p class="text-center">${url}</p>`);
                    }
                });
            }

            input.click();
        });

        document.querySelector("#admin_shutdown").addEventListener("click", function () {
            submitRequest("/@Constants.AreaAdmin/shutdown");
        });
    </script>
}