@model List<ReadItemView>
@{
    Layout = "_ReadLayout";
}

<div class="alert alert-secondary">
    以下是我的部分书籍的阅读记录。
</div>

@for (var i = Model.Count - 1; i >= 0; i--)
{
    var item = Model[i];
    var index = i + 1;

    var c = item.Raw.IsPublic ? "" : "text-secondary";
    <div class="@c mb-3">
        <div class="d-flex">
            <span class="flex-grow-1">
                <span class="small">@index.</span> 
                <span>@item.Raw.BookName</span>
                @if (item.Raw.Grade == ReadItemGrade.Bad)
                {
                    <i class="bi bi-hand-thumbs-down-fill text-danger"></i>
                }
                else if (item.Raw.Grade == ReadItemGrade.Good)
                {
                    <i class="bi bi-hand-thumbs-up-fill text-success"></i>
                }
            </span>

            <span class="small">
                @item.Raw.CreateTime.ToCnDate() &middot;

                @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                {
                    <a href="/admin/read/edit/@item.Raw.Id"><i class="bi bi-pencil-square text-success"></i></a> <text>&middot;</text>
                }

                <a href="#@item.Raw.Id" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="@item.Raw.Id"><i class="bi bi-chevron-expand text-dark"></i></a>
            </span>
        </div>
        <div class="collapse small" id="@item.Raw.Id">
            <div class="mb-2 ps-3">@item.Metadata</div>

            @if(!string.IsNullOrEmpty(item.Raw.PostCommentId))
            {
                <blockquote>
                    博客链接：<a href="@item.PostCommentUrl" class="text-success"><i class="bi bi-link-45deg"></i> @item.PostCommentTitle</a>
                </blockquote>
            }

            @if (!string.IsNullOrEmpty(item.CommentHtml))
            {
                <blockquote class="my-1">
                    @Html.Raw(item.CommentHtml)
                </blockquote>
            }
        </div>
    </div>
}