@model List<ReadIndexViewModel>
@{
    Layout = "_ReadLayout";
    ViewData["DatePublished"] = Model.SelectMany(x => x.Items).Min(x => x.Raw.CreateTime);
    ViewData["DateModified"] = Model.SelectMany(x => x.Items).Max(x => x.Raw.LastUpdateTime);
}

@foreach (var item in Model)
{
    <h4>@item.Title</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var r in item.Items)
        {
            var c = r.Raw.IsPublic ? "" : "text-bg-secondary";
            <div class="col">
                <div class="card @c">
                    <div class="card-header d-flex align-items-center">
                        <span>@r.Raw.BookName</span>
                        <div class="d-flex ms-auto">@r.Raw.CreateTime.ToCnDate()</div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            @if (!string.IsNullOrEmpty(r.Raw.PostCommentId))
                            {
                                <blockquote class="my-2">
                                    博客链接：<a href="@r.PostCommentUrl" class="text-success"><i class="bi bi-link-45deg"></i> @r.PostCommentTitle</a>
                                </blockquote>
                            }

                            @if (!string.IsNullOrEmpty(r.CommentHtml))
                            {
                                <blockquote class="my-1">
                                    @Html.Raw(r.CommentHtml)
                                </blockquote>
                            }
                            </div>
                    </div>
                    <div class="card-footer text-muted small">
                        @Html.Raw(r.Metadata)
                    </div>
                </div>
            </div>
        }
    </div>

}