@model List<ReadIndexViewModel>
@{
    Layout = "_ReadLayout";
    ViewData["DatePublished"] = Model.SelectMany(x => x.Items).Min(x => x.Raw.CreateTime);
    ViewData["DateModified"] = Model.SelectMany(x => x.Items).Max(x => x.Raw.LastUpdateTime);
}

@foreach (var item in Model)
{
    <div class="mb-4">
        <h4 class="mb-3 bg-secondary py-2 px-1" id="@item.Id"><i class="bi bi-list"></i> @item.Title (@item.Count)</h4>
        @foreach (var r in item.Items)
        {
            var d = "bi bi-hash small text-muted";
            if (!r.Raw.IsPublic)
            {
                d = "bi bi-file-lock small text-info";
            }

            <div class="mb-3">

                <div class="d-flex ps-2 pe-1">
                    <div>
                        @if (string.IsNullOrEmpty(r.Raw.Comment) && !r.Posts.Any())
                        {
                            <span>
                                <i class="@d"></i> @r.Raw.BookName
                            </span>
                        }
                        else
                        {
                            <a href="javascript:;" data-bs-toggle="modal" class="text-reset" data-bs-target="#@r.Raw.Id">
                                <i class="@d"></i> @r.Raw.BookName

                            </a>
                            <div class="modal fade commentModal" id="@r.Raw.Id">
                                <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 me-auto text-center flex-fill">
                                                @r.Raw.BookName
                                                @if (!string.IsNullOrEmpty(r.Metadata))
                                                {
                                                    <small class="text-muted fst-italic d-block small">@r.Metadata</small>
                                                }
                                            </h1>
                                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body mx-auto d-flex flex-column py-3">
                                            @if (r.Posts.Any())
                                            {
                                                <figure class="my-3 bg-secondary ps-2 pt-3">
                                                    <blockquote class="blockquote small bg-transparent">
                                                        <div>
                                                            @foreach (var x in r.Posts)
                                                            {
                                                                <div class="mb-2"><a href="@x.Item3" class="text-success"><i class="bi bi-link-45deg"></i> @x.Item2</a></div>
                                                            }
                                                        </div>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer">
                                                        <cite title="post comments">Blog post comments</cite>
                                                    </figcaption>
                                                </figure>
                                            }
                                            @if (!string.IsNullOrEmpty(r.CommentHtml))
                                            {
                                                <div class="my-1 read-comment bg-transparent">
                                                    @Html.Raw(r.CommentHtml)
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (r.Raw.Grade == ReadItemGrade.Good)
                        {
                            <i class="bi bi-hand-thumbs-up text-success text-decoration-none"></i>
                        }

                        @if (r.Raw.Grade == ReadItemGrade.Bad)
                        {
                            <i class="bi bi-hand-thumbs-down text-danger text-decoration-none"></i>
                        }

                        @if (!string.IsNullOrEmpty(r.Metadata))
                        {
                            <small class="text-muted fst-italic d-none d-lg-inline-block px-1"> @r.Metadata</small>
                        }
                    </div>

                    <div class="ms-auto small text-muted px-1">
                        <i class="bi bi-calendar2-date"></i> @r.Raw.CreateTime.ToCnDate()
                        @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                        {
                            <text>&middot; </text>
                            <a href="/admin/read/edit/@r.Raw.Id"><i class="bi bi-pencil-square text-success"></i></a>
                        }
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(r.Metadata))
                {
                    <small class="text-muted fst-italic d-lg-none ps-3"> @r.Metadata</small>
                }
            </div>

        }
    </div>
}

@section Script {
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            anchors.options = {
                placement: "right",
                visible: "hover",
                icon: "¶",
                base: "/read",
                class: "text-reset"
            };
            anchors.add("h4");
        });
    </script>
}