@model List<ReadIndexViewModel>
@{
    Layout = "_ReadLayout";
    ViewData["DatePublished"] = Model.SelectMany(x => x.Items).Min(x => x.Raw.CreateTime);
    ViewData["DateModified"] = Model.SelectMany(x => x.Items).Max(x => x.Raw.LastUpdateTime);
}

@foreach (var item in Model)
{
    <div class="mb-5">
        <h4 class="mb-3 bg-secondary py-2 px-1" id="@item.Id"><i class="bi bi-list"></i> @item.Title (@item.Count)</h4>
        @foreach (var r in item.Items)
        {
            <div class="d-flex mb-3 ps-2 fs-5">
                @if (string.IsNullOrEmpty(r.Raw.Comment) && string.IsNullOrEmpty(r.Raw.PostCommentId))
                {
                    <span>
                        <i class="bi bi-hash small text-muted"></i> @r.Raw.BookName
                        @if (r.Raw.Grade == ReadItemGrade.Good)
                        {
                            <i class="bi bi-hand-thumbs-up text-success"></i>
                        }

                        @if (r.Raw.Grade == ReadItemGrade.Bad)
                        {
                            <i class="bi bi-hand-thumbs-down text-danger"></i>
                        }
                    </span>
                }
                else
                {
                    <a href="javascript:;" data-bs-toggle="modal" class="text-reset" data-bs-target="#@r.Raw.Id">
                        <i class="bi bi-hash small text-muted"></i> @r.Raw.BookName
                        @if (r.Raw.Grade == ReadItemGrade.Good)
                        {
                            <i class="bi bi-hand-thumbs-up text-success"></i>
                        }

                        @if (r.Raw.Grade == ReadItemGrade.Bad)
                        {
                            <i class="bi bi-hand-thumbs-down text-danger"></i>
                        }
                    </a>
                    <div class="modal fade commentModal" id="@r.Raw.Id">
                        <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 me-auto text-center flex-fill">@r.Raw.BookName</h1>
                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-auto d-flex flex-column py-3">
                                    @if (!string.IsNullOrEmpty(r.Raw.PostCommentId))
                                    {
                                        <div class="my-2">
                                            博客：<a href="@r.PostCommentUrl" class="text-success"><i class="bi bi-link-45deg"></i> @r.PostCommentTitle</a>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(r.CommentHtml))
                                    {
                                        <blockquote class="my-1 read-comment bg-transparent">
                                            @Html.Raw(r.CommentHtml)
                                        </blockquote>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }

                <div class="ms-auto small text-muted">
                    <i class="bi bi-calendar2-date"></i> @r.Raw.CreateTime.ToCnDate()
                    @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                    {
                        <text>&middot; </text>
                        <a href="/admin/read/edit/@r.Raw.Id"><i class="bi bi-pencil-square text-success"></i></a>
                    }
                </div>
            </div>
        }
    </div>
}

@section Script {
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            anchors.options = {
                placement: "right",
                visible: "hover",
                icon: "¶",
                base: "/read",
                class: "text-reset"
            };
            anchors.add("h4");
        });
    </script>
}