@model PostTag
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "编辑标签 :: 管理";
}

<div class="admin-form-card">
    <div class="mb-3">
        <label for="name" class="form-label">名称 <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" name="name" value="@Model.Name" autocomplete="off" autofocus required>
        <div class="invalid-feedback">必填</div>
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">链接 <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="link" name="link" value="@Model.Link" autocomplete="off" required>
        <div class="form-text"><code>/post/tag#link-@(Model.Link)</code></div>
        <div class="invalid-feedback">必填</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">描述</label>
        <textarea class="form-control" id="description" name="description" rows="2">@Model.Description</textarea>
    </div>
    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="isPublic" name="isPublic" checked="@Model.IsPublic">
        <label class="form-check-label" for="isPublic">公开</label>
    </div>
    <button type="submit" class="btn btn-dark w-100">保存修改</button>
</div>

<input type="hidden" value="@Model.Id" name="id" />

@section AdminLegend {
    <span>编辑标签</span>
}

@section Script {
    <script>
        var form = document.querySelector("#adminForm");
        form.addEventListener("submit", function(e) {
            e.preventDefault(); e.stopPropagation();
            var formData = new FormData(form);
            submitRequest("/admin/tag-edit", { form: form, method: "POST", body: new URLSearchParams(formData), contentType: "application/x-www-form-urlencoded" });
        });
    </script>
}
