@inject ISwanService _service
@model BlogPost
@{
    Layout = "_LayoutAdmin";
}

<div class="m-4 p-3 rounded-1 shadow-sm bg-white">
    <div class="form-text mb-2">
        <span class="text-danger">*</span>
        Below fields are all required.
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="" value="@Model.Title" autocomplete="off" autofocus required>
        <div class="invalid-feedback">
            Required
        </div>
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="" value="@Model.Link" autocomplete="off" required>
        <div class="invalid-feedback">
            Required
        </div>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Markdown Content</label>
        <textarea id="content"></textarea>
    </div>
</div>
<div class="accordion m-4 p-3 rounded-1 shadow-sm bg-white">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Optional Fields
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="mb-3">
                    <label for="publishDate" class="form-label">Publish Date</label>
                    <input type="date" class="form-control" id="publishDate" name="publishDate" value="@Model.PublishDate.ToDate()">
                </div>
                <div class="mb-3">
                    <label for="excerpt" class="form-label">Excerpt</label>
                    <textarea class="form-control" id="excerpt" name="excerpt" rows="6">@Model.Excerpt</textarea>
                </div>
                <div class="mb-3">
                    <label for="series" class="form-label">Series</label>
                    <select class="form-select font-monospace" id="series" name="series">
                        @if(Model.Series != null)
                        {
                            <option value="" class="small">-- Select Post Series --</option>
                        }
                        else
                        {
                            <option selected value="" class="small">-- Select Post Series --</option>
                        }

                        @foreach (var item in await _service.GetBlogSeriesAsync())
                        {
                            if(Model.Series == item.Id)
                            {
                                <option selected value="@item.Id" class="my-1 ps-1">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id" class="my-1 ps-1">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tags" class="form-label">Tags</label>
                    <select class="form-select font-monospace" id="tags" name="tags" multiple size="5">
                        @if(Model.Tags?.Any() == true)
                        {
                            <option value="" class="small">-- Select Post Tags(Multiple) --</option>
                        }
                        else
                        {
                            <option selected value="" class="small">-- Select Post Tags(Multiple) --</option>
                        }

                        @foreach (var item in await _service.GetBlogTagsAsync())
                        {
                            if(Model.Tags.Contains(item.Id))
                            {
                                <option selected value="@item.Id" class="my-1 ps-1">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id" class="my-1 ps-1">@item.Name</option>
                            }
                            
                        }
                    </select>
                </div>
                <div class="form-check form-switch mb-3">
                    @if (Model.IsPublic)
                    {
                        <input class="form-check-input" type="checkbox" id="isPublic" name="isPublic" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" id="isPublic" name="isPublic">
                    }
                    <label class="form-check-label" for="isPublic">Public to Everyone</label>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="id" value="@Model.Id"/>

@section AdminLegend {
    <div class="row">
        <div class="col-3 text-truncate">
            <span><i class="bi bi-pencil-square"></i> Edit post</span>
        </div>
        <div class="col-9 text-end">
            <button type="submit" class="btn btn-success"><i class="bi bi-floppy mx-1"></i> Save Changes</button>
        </div>
    </div>
}

@section Script {
    <script>
        const form = document.querySelector("#adminForm");
        const contentEl = document.querySelector("#content");
        let editor = createEditor(contentEl, "admin_blog_post_add");

        let txt = document.createElement("textarea");
        txt.innerHTML = "@Model.Content";
        editor.value(txt.value);

        form.addEventListener("submit", e => {
            e.preventDefault();
            e.stopPropagation();

            let formData = new FormData(form);
            formData.append("content", editor.value());
            submitRequest("/admin/post-edit", { form: form, method: "POST", body: new URLSearchParams(formData), contentType: "application/x-www-form-urlencoded" });
        });

        setActive(document.querySelector("#navHeading_posts"));
    </script>
}