@inject ISwanService _service
@{
    Layout = "_LayoutAdmin";

    var allSeries = await _service.FindAsync<PostSeries>(true);
}

<div class="my-4 py-3 rounded-1 shadow-sm bg-white">
    <div class="list-group list-group-flush">
        @foreach (var item in allSeries)
        {
            <div class="list-group-item container-fluid">
                <div class="row">
                    <div class="col-11 text-truncate">
                        <a href="@item.GetFullLink()" class="text-secondary-emphasis">
                            <i class="bi bi-bookmark mx-1"></i> @item.Name
                        </a>
                        <span class="fst-italic small text-muted ms-2">(@item.BlogPosts.Count posts)</span>
                    </div>
                    <div class="col-1 text-truncate small">
                        <i class="bi bi-bar-chart-line"></i> @item.BlogPosts.Sum(x => x.PageStat.Hit)
                    </div>
                </div>
                <div class="mt-3">
                    <a class="btn btn-success btn-sm px-4" href="/admin/series-edit/@item.Id">
                        <i class="bi bi-pencil-square mx-1"></i> Edit this series
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@section AdminLegend {
    <div class="row">
        <div class="col-3 text-truncate">
            <span><i class="bi bi-list"></i> List of Series</span>
        </div>
        <div class="col-9 text-end">
            <a class="btn btn-info" href="/admin/series-add"><i class="bi bi-plus mx-1"></i> Add New Series</a>
        </div>
    </div>
    <div class="small text-muted">
        @allSeries.Count in total, @allSeries.Count(x => x.IsPublicToEveryOne()) of them are public to everyone.
    </div>
}

@section Script{
    <script>
        setActive(document.querySelectorAll("[data-nav-id=navHeading_series]"));
    </script>
}