@inject ISwanService _service
@{
    Layout = "_LayoutAdmin";

    var readItems = await _service.FindAsync<SwanRead>(true);
}

<div class="my-4 py-3 rounded-1 shadow-sm bg-white">
    <div class="list-group list-group-flush">
        @foreach (var item in readItems)
        {
            <div class="list-group-item container-fluid">
                <div class="row">
                    <div class="col-8 text-truncate">
                        <a href="@item.GetFullLink()" class="text-secondary-emphasis">
                            <i class="bi bi-book mx-1"></i> @item.BookName
                        </a>
                    </div>
                    <div class="col-2 text-truncate small">
                        <i class="bi bi-calendar-date mx-1"></i> @item.CreatedAt.ToCnDate()
                    </div>
                    <div class="col-2 text-truncate small">
                        <i class="bi bi-person-fill"></i> @item.Author
                    </div>
                </div>
                <div class="mt-3">
                    <a class="btn btn-success btn-sm px-4" href="/admin/read-edit/@item.Id">
                        <i class="bi bi-pencil-square mx-1"></i> Edit this read
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@section AdminLegend {
    <div class="row">
        <div class="col-3 text-truncate">
            <span><i class="bi bi-list"></i> List of Reads</span>
        </div>
        <div class="col-9 text-end">
            <a class="btn btn-info" href="/admin/read-add"><i class="bi bi-plus mx-1"></i> Add New Read</a>
        </div>
    </div>
    <div class="small text-muted">
        @readItems.Count in total, @readItems.Count(x => x.IsPublic) of them are public to everyone.
    </div>
}


@section Script{
    <script>
        setActive(document.querySelector("#navHeading_reads"));
    </script>
}