@inject ISwanService _service
@{
    Layout = "_LayoutAdmin";

    var allPosts = await _service.FindAsync<SwanPost>(true);
}

<div class="my-4 py-3 rounded-1 shadow-sm bg-white">
    <div class="list-group list-group-flush">
        @foreach (var item in allPosts)
        {
            var privateStype = item.IsPublicToEveryOne() ? "" : "bg-warning-subtle";
            <div class="list-group-item @privateStype">
                @Html.Raw(item.HtmlMetadata1)
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-md-10 text-truncate ps-1 mb-1">
                            <a href="@item.GetFullLink()" class="text-secondary-emphasis text-decoration-none">
                                <i class="bi bi-file-text mx-1"></i> @item.Title
                            </a>
                        </div>
                        
                        <div class="col-md-2 text-truncate small mb-1 d-grid">
                            <a class="btn btn-outline-dark btn-sm px-4" href="/admin/post-edit/@item.Id">
                                <i class="bi bi-pencil-square mx-1"></i> Edit this post
                            </a>
                        </div>
                    </div>
                </div>
                @Html.Raw(item.HtmlMetadata2)
            </div>
        }
    </div>
</div>

@section AdminLegend {
    <div class="row">
        <div class="col-6 text-truncate">
            <span><i class="bi bi-list"></i> List of Posts</span>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-success btn-sm" href="/admin/post-add"><i class="bi bi-plus mx-1"></i> Add New Post</a>
        </div>
    </div>
    <div class="small text-muted">
        @allPosts.Count in total, @allPosts.Count(x => x.IsPublicToEveryOne()) of them are public to everyone.
    </div>
}

@section Script{
    <script>
        setActive(document.querySelectorAll("[data-nav-id=navHeading_posts]"));
    </script>
}