@inject ISwanService _swanService
@{
    Layout = "_LayoutAdmin";
    var pages = await _swanService.FindAsync<SwanPage>(true);
    ViewData["Title"] = "View Page Stats :: Admin";
}

<div class="my-4 py-3 rounded-1 shadow-sm bg-white container-fluid">
    @foreach (var item in pages.OrderByDescending(x => x.Hit))
    {
        <div class="row mb-2 border-bottom pb-2">
            <div class="col-10 font-monospace text-truncate">
                <a href="@item.Path" class="text-reset text-decoration-none"><i class="bi bi-caret-right-fill"></i> @item.Path</a>
            </div>
            <div class="col-2">
                <span class="badge rounded-pill text-bg-info">@item.Hit</span>
            </div>
        </div>
    }
</div>


@section AdminLegend {
    <div class="row">
        <div class="col-6 text-truncate">
            <span><i class="bi bi-list"></i> Page stats</span>
        </div>
        <div class="col-6 text-end">
            
        </div>
    </div>
    <div class="small text-muted">
        @pages.Count pages, @pages.Sum(x => x.Hit) hits in total.
    </div>
}

@section Script{
    <script>
        setActive(document.querySelectorAll("[data-nav-id=navHeading_stats]"));
    </script>
}