@model BlogPost

<div class="card mb-3">
    <div class="card-body">
        <div class="card-text">
            <table>
                <tr>
                    <td>访问</td>
                    <td title="@Model.AccessCount">@Model.AccessCountString 次</td>
                </tr>
                <tr>
                    <td>创建</td>
                    <td title="@Model.PublishTime.ToDateAndTime()">
                        <time datetime="@Model.PublishTime.ToDateAndTime()"></time>@Model.PublishTimeString
                    </td>
                </tr>
                <tr>
                    <td>更新</td>
                    <td title="@Model.LastUpdateTime.ToDateAndTime()">@Model.LastUpdateTimeString</td>
                </tr>
            </table>
        </div>
    </div>
</div>