<!DOCTYPE html>
<html lang="zh">
<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#0f8da2">
    <meta name="theme-color" content="#0f8da2">
    <meta name="description" content="@ViewDataHelper.GetDescription(ViewData)">
    <meta name="robots" content="@ViewDataHelper.GetRobots(ViewData)">
    <meta name="rating" content="General">
    <meta name="format-detection" content="telephone=no">

    <!--link tags-->
    @RenderSection("style", false)
    <link rel="canonical" href="@ViewDataHelper.GetCanonical(ViewData)">
    <link rel="author" content="@Global.Config.Common.AdminChineseName" href="~/">
    <link rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">
    <link rel="alternate" href="/rss/" type="application/rss+xml" title="@Global.Config.Blog.Name">
    <link rel="alternate" href="/atom/" type="application/atom+xml" title="@Global.Config.Blog.Name">
    <link rel="me" href="mailto:@Global.Config.Common.AdminEmail">
    <link rel="index" href="/">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>@ViewDataHelper.GetTitle(ViewData)</title>

    @RenderSection("script", false)
</head>
<body>
<div class="progress progress-container">
    <div id="pbar" class="progress-bar bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">@Global.Config.Blog.Name</a>
        <ul class="nav ml-auto">
            <li>
                <a class="nav-item nav-link" href="/archive/">存档</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="/rss/">订阅</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container pl-3 pr-3 pt-5 mb-2">
    <div class="row">
        <main class="col-lg-9">
            @RenderBody()
        </main>
        <aside class="col-lg-3 d-none d-lg-block">
            <partial name="_AsideAbout"/>
            <partial name="_AsideDeclaration"/>
            @RenderSection("sidebar", false)

            <div class="sticky-top">
                @RenderSection("stickySidebar", false)
                <partial name="_AsideCopyright"/>
                @await Component.InvokeAsync("BlogInfo")
            </div>
        </aside>
    </div>
</div>

<footer class="mt-5 text-muted">
    <div class="container pb-3 pt-3 text-center mt-3">
        <div>
            &copy; 2008-@DateTime.Now.Year @Global.Config.Common.AdminChineseName &middot;
            Powered by @Global.RuntimeVersion
        </div>
        <div class="mt-1 text-uppercase">
           
        </div>
    </div>
</footer>

<!--Page generated at @DateTime.Now.ToDateAndTime().-->
</body>
</html>