@inject IOptions<LaobianBlogOption> _config
@inject IHostEnvironment _env
<!DOCTYPE html>
<html lang="zh" class="w-100 min-vh-100">
<head>
    @{
        var buildOption = new HtmlHeadBuildOption
        {
            ApplicationTitleColor = "#00a300",
            Description = ViewData["Description"]?.ToString(),
            RobotsEnabled = bool.TryParse(ViewData["RobotsEnabled"]?.ToString(), out var result) ? result : _env.IsProduction(),
            SafariPinnedTabColor = "#5bbad5",
            ThemeColor = "#ffffff",
            Title = ViewData["Title"]?.ToString(),
            BaseTitle = Constants.BlogTitle,
            BaseImage = $"{_config.Value.BlogRemoteEndpoint}/writing.png",
            Image = ViewData["Image"]?.ToString(),
            DatePublished = ViewData["DatePublished"] == null ? DateTime.Now : Convert.ToDateTime(ViewData["DatePublished"]),
            DateModified = ViewData["DateModified"] == null ? DateTime.Now : Convert.ToDateTime(ViewData["DateModified"])
        };

        var headerBuilder = new HtmlHeadBuilder(_config.Value, buildOption);
        @Html.Raw(headerBuilder.Build())
    }

    <link rel="stylesheet" href="~/dist/style.min.css"
          asp-append-version="true"
          asp-fallback-href="https://jerrybian.github.io/laobian.me/blog/@_config.Value.AppVersion/style.min.css"
          asp-fallback-test-class="row"
          asp-fallback-test-property="display"
          asp-fallback-test-value="flex"/>

</head>
<body class="d-flex flex-column w-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">@Constants.BlogTitle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">

            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/archive" id="nav_archive"><i class="fas fa-archive"></i> 存档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/read" id="nav_read"><i class="fas fa-book"></i> 阅读</a>
                </li>
                <li class="nav-item d-lg-none d-xl-none d-xxl-none">
                    <a class="nav-link" href="/about" id="nav_about"><i class="fas fa-info-circle"></i> 关于</a>
                </li>
                @if (Context.User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item navbar-text">
                        <i class="fas fa-user"></i> <span class="text-info">@Context.User.Identity.Name</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<div class="container py-4">
    <div class="row gx-4">
        <main class="col-9 d-flex justify-content-center px-2 flex-grow-1">
            <div class="wrapper-content">
                @RenderBody()
            </div>
        </main>
        <aside class="col-3 d-none d-lg-block small">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-landmark"></i> 简介</div>
                <div class="card-body">
                    <div class="card-text">
                        @await Html.PartialAsync("_SharedAbout")
                    </div>
                    <div class="d-grid">
                        <a href="/about" class="btn btn-light">关于 <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="position-sticky" style="top: 10px;">
                @await RenderSectionAsync("Aside", false)
                <div class="card mt-4">
                    <div class="card-header"><i class="fas fa-exclamation-circle"></i> 声明</div>
                    <div class="card-body">
                        <div class="card-text">
                            @await Html.PartialAsync("_SharedCopyright")
                        </div>
                    </div>
                </div>
            </div>

        </aside>
    </div>

</div>

<footer class="navbar navbar-light bg-light mt-auto small">
    <nav class="container justify-content-center text-muted">
        &copy; @DateTime.Now.Year @_config.Value.AdminChineseName &middot;
        <i class="text-danger fas fa-heartbeat ms-1"></i>
    </nav>

</footer>
<script src="~/dist/script.min.js"
        asp-fallback-src="https://jerrybian.github.io/laobian.me/blog/@_config.Value.AppVersion/script.min.js"
        asp-fallback-test="window.fallbackTest"
        asp-append-version="true"></script>
@await RenderSectionAsync("Script", false)
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97849167-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());

    gtag('config', 'UA-97849167-1');
</script>
<!--@DateTime.Now.ToDateAndTime()-->
</body>
</html>