@using Laobian.Share.Helper
@model IEnumerable<BlogCategory>

<div class="archive">
    <div class="mb-4">
        @foreach (var item in Model)
        {
            <a class="btn btn-light archive-link" href="@item.GetRelativeLink()">
                @item.Name <span class="badge badge-info">@HumanHelper.DisplayInt(item.Posts.Count)</span>
            </a>
        }
    </div>

    <div>
        @foreach (var item in Model)
        {
            <h3 id="@item.Link">
                <span>@item.Name (@item.Posts.Count)</span>
            </h3>
            <table>
                @foreach (var post in item.Posts)
                {
                    <tr>
                        <td>
                            <span class="text-muted post-meta">@post.PublishTime.ToDate()</span>
                        </td>

                        <td>
                            <a href="@post.FullUrl">
                                <span>@post.Title</span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section style{
    <link rel="stylesheet"
          href="~/dist/archive.min.css"
          asp-fallback-href="https://jerrybian.github.io/blog.laobian.me/archive.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          asp-append-version="true" />
}

@section script{
    <script src="~/dist/archive.min.js"
            asp-fallback-src="https://jerrybian.github.io/blog.laobian.me/archive.min.js"
            asp-fallback-test="window.test"
            asp-append-version="true">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded",
            function () {
                anchors.options = {
                    placement: 'right',
                    visible: 'hover',
                    base: '/category'
                };
                anchors.add('.archive h3');
            });
    </script>
}