@model PagedPostViewModel

<div>
    <div class="list-group list-group-flush">
        @foreach (var post in Model.Posts)
        {
            <div class="list-group-item flex-column align-items-start post-item">
                <div>
                    <div class="text-muted d-sm-block post-item-meta">@Html.Raw(post.MetadataHtml)</div>
                    <div class="mb-1 pt-1 post-item-title">
                        <a href="@post.FullUrl">@post.Title</a>
                        @if (post.IsTopping)
                        {
                            <span class="badge badge-light">置顶</span>
                        }
                        @if (!post.IsPublic)
                        {
                            <span class="badge badge-success">
                                未发布
                            </span>
                        }
                    </div>
                </div>


                <div class="container-fluid mt-2 mb-1">
                    <div class="row">
                        <div class="mb-2 mt-1 post-item-excerpt">
                            @Html.Raw(post.ExcerptHtml)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <pagination total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></pagination>
</div>


@section style{
    <link rel="stylesheet" 
          href="~/style/index.min.css" 
          asp-fallback-href="https://jerrybian.github.io/blog.laobian.me/style/index.min.css" 
          asp-fallback-test-class="sr-only" 
          asp-fallback-test-property="position" 
          asp-fallback-test-value="absolute" 
          asp-append-version="true" />
}

@section script{
    <script src="~/script/index.min.js"
            asp-fallback-src="https://jerrybian.github.io/blog.laobian.me/script/index.min.js"
            asp-fallback-test="window.test"
            asp-append-version="true">
    </script>
}