@model PagedPostViewModel

<div>
    <div class="list-group list-group-flush">
        @foreach (var post in Model.Posts)
        {
            <div class="list-group-item flex-column align-items-start post-item">
                <div>
                    @if (!post.IsPublic)
                    {
                        <div class="text-warning font-italic">
                            <i class="fas fa-info-circle" title="置顶"></i>
                            这篇文章尚未发布，仅供管理员预览。
                        </div>
                    }
                    <div class="text-muted d-none d-sm-block post-item-meta">@Html.Raw(post.GetMetadataHtml())</div>
                    <div class="text-muted d-sm-none post-item-meta">@Html.Raw(post.GetSimpleMetadataHtml())</div>
                    <div class="mb-1 pt-1 post-item-title">
                        @if (post.IsTopping)
                        {
                            <i class="fas fa-flag fa-sm text-info"></i>
                        }
                        <a href="@post.FullUrl">@post.Title</a>
                    </div>
                </div>
                
                <div class="container-fluid mt-2 mb-1">
                    <div class="row">
                        <div class="mb-2 mt-1 post-item-excerpt">
                            @Html.Raw(post.ExcerptHtml)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <pagination total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></pagination>
</div>


@section style{
    <link rel="stylesheet" href="~/style/index.min.css" asp-append-version="true" />
}

@section script{
    <script src="~/script/index.min.js" defer asp-append-version="true"></script>
}