@model PagedPostViewModel
@{

}

<section>
    @foreach (var post in Model.Posts)
    {
        <div class="mt-2 mb-2">
            <span class="text-muted me-2 fs-sm">@post.Current.Metadata.PublishTime.ToDate()</span>
            <a href="@post.Current.FullPath">
                <span>@post.Current.Metadata.Title</span>
                @if (post.Current.Metadata.IsTopping)
                {
                    <span class="badge bg-success">置顶</span>
                }

                @if (!post.Current.Metadata.IsPublished)
                {
                    <span class="badge bg-warning">
                        未发布
                    </span>
                }
            </a>
        </div>
    }
</section>

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>

@section Style{
    <link href="~/index.min.css" rel="stylesheet"/>
}