@model PagedViewModel<PostViewModel>
@inject IOptions<BlogOptions> _option
@{
    ViewData["Description"] = Constants.BlogDescription;
}

<section>
    <div class="list-group list-group-flush">
        @foreach (var post in Model.Items)
        {
            <div class="list-group-item p-0 mb-4 pb-3">
                <div class="text-muted small">@Html.Raw(post.MetadataHtml)</div>
                <h2 class="mb-3">
                    <a href="@post.Current.Raw.GetFullPath(_option.Value.BlogRemoteEndpoint)" class="text-decoration-none">
                        @post.Current.Raw.Title

                    </a>
                    @if (post.Current.Raw.IsTopping)
                    {
                        <span class="badge bg-success small">置顶</span>
                    }

                    @if (!post.Current.Raw.IsPostPublished())
                    {
                        <span class="badge bg-warning small">
                            未发布
                        </span>
                    }
                </h2>
                <div>
                    @if (!string.IsNullOrEmpty(post.Current.ThumbnailHtml))
                    {
                        <div class="mt-1 mb-3">
                            @Html.Raw(post.Current.ThumbnailHtml)
                        </div>
                    }

                    @Html.Raw(post.Current.ExcerptHtml)
                </div>
            </div>
        }
    </div>

</section>

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>