@model PagedPostViewModel
@{

}

<section>
    <div class="list-group list-group-flush">
        @foreach (var post in Model.Posts)
        {
            <div class="list-group-item p-0 mb-4 pb-3">
                <div class="text-muted fs-sm">@Html.Raw(post.MetadataHtml)</div>
                <h2 class="mb-3">
                    <a href="@post.Current.GetFullPath()" class="text-decoration-none">
                        @post.Current.Metadata.Title

                    </a>
                    @if (post.Current.Metadata.IsTopping)
                    {
                        <span class="badge bg-success fs-sm">置顶</span>
                    }

                    @if (!post.Current.Metadata.IsPublished)
                    {
                        <span class="badge bg-warning fs-sm">
                            未发布
                        </span>
                    }
                </h2>
                <div>
                    @if (!string.IsNullOrEmpty(post.Current.Thumbnail))
                    {
                        <img src="@post.Current.Thumbnail" class="img-fluid mt-1 mb-3">
                    }

                    @Html.Raw(post.Current.ExcerptHtml)
                </div>
            </div>
        }
    </div>

</section>

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>

@section Script {
    <script src="~/index.min.js" asp-append-version="true"></script>
}

@section Aside {
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome!</h5>
            <div class="card-text fs-sm">
                <p>卞良忠，英文名：Jerry Bian，一个普通人。</p>
                <p>这里是我的个人博客，想到什么就写什么。</p>
            </div>
            <div class="d-grid">
                <a href="#" class="btn btn-light">关于 &rarr;</a>
            </div>
        </div>
    </div>
}