@model Laobian.Share.BlogEngine.Model.BlogPost

<article class="post">
    <h2>
        @Model.Title
    </h2>
    <div class="text-muted text-right size-smaller d-block d-lg-none">@Model.CreationTimeUtc.ToRelativeTime() &middot; @Model.Visits.ToThousandsPlace() 次访问</div>
    <div class="mt-2 mb-4 post-content">
        @Html.Raw(Model.HtmlContent)
    </div>
</article>

@section stickySidebar{
    <div class="card mb-3" id="post_metadata">
        <div class="card-body">
            <div class="card-text">
                <table>
                    <tr>
                        <td>访问</td>
                        <td>@Model.Visits.ToThousandsPlace() 次</td>
                    </tr>
                    <tr>
                        <td>创建</td>
                        <td title="@Model.CreationTimeUtc.ToChinaTime().ToDateAndTime()">@Model.CreationTimeUtc.ToRelativeTime()</td>
                    </tr>
                    <tr>
                        <td>更新</td>
                        <td title="@Model.LastUpdateTimeUtc.ToChinaTime().ToDateAndTime()">@Model.LastUpdateTimeUtc.ToRelativeTime()</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">版权</div>
        <div class="card-body">
            <p>
                <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Attribution 4.0 International (CC BY 4.0)</a>
            </p>
            <p>
                <a href="https://creativecommons.org/licenses/by/4.0/deed.zh">署名 4.0 国际 (CC BY 4.0)</a>
            </p>
        </div>
    </div>
}

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            hljs.initHighlightingOnLoad();
        }, false);
    </script>
}