@model PostViewModel

<article class="post">
    <h2>
        @Model.Post.Title
    </h2>
    <div class="text-muted text-left size-smaller d-block d-lg-none">@Html.Raw(Model.GetSimpleMetadataHtml())</div>
    <div class="mt-2 mb-4 post-content">
        @Html.Raw(Model.Post.HtmlContent)
    </div>
</article>

@section stickySidebar{
    <div class="card mb-3" id="post_metadata">
        <div class="card-body">
            <div class="card-text">
                <table>
                    <tr>
                        <td>访问</td>
                        <td>@Model.Post.Visits.ToThousandsPlace() 次</td>
                    </tr>
                    <tr>
                        <td>创建</td>
                        <td title="@Model.Post.CreationTimeUtc.ToChinaTime().ToDateAndTime()">@Model.Post.CreationTimeUtc.ToRelativeTime()</td>
                    </tr>
                    <tr>
                        <td>更新</td>
                        <td title="@Model.Post.LastUpdateTimeUtc.ToChinaTime().ToDateAndTime()">@Model.Post.LastUpdateTimeUtc.ToRelativeTime()</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">版权</div>
        <div class="card-body">
            <p>
                署名-非商业性使用-禁止演绎 4.0 国际<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">(CC BY-NC-ND 4.0)</a>
            </p>
        </div>
    </div>
}

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            hljs.initHighlightingOnLoad();
        }, false);
    </script>
}