@model AboutViewModel
@inject IOptions<BlogConfig> Config
@{
    ViewData["Title"] = "关于";
}

<article class="post">
    <div class="post-content">
        <p>以下是关于作者以及这个博客系统的一些简介。</p>

        <h3>关于作者</h3>
        <p>我叫 @Config.Value.AdminChineseName，网名：汴梁钟声，英文名：@Config.Value.AdminEnglishName。软件工程师，热爱技术与写作。</p>
        <p>我的联系方式：</p>
        <ul>
            <li><strong>Email</strong>: <a href="mailto:@Config.Value.AdminEmail">@Config.Value.AdminEmail</a></li>
            <li><strong>GitHub</strong>: <a href="https://github.com/JerryBian">JerryBian</a></li>
        </ul>

        <h3>关于博客系统</h3>
        <p>
            该博客系统基于 <strong>@Model.SystemDotNetVersion</strong>，源代码以
            <strong>
                <a href="https://github.com/JerryBian/laobian.me/blob/master/LICENSE">MIT</a>
            </strong> 协议发布在
            <strong>
                <a href="https://github.com/JerryBian/laobian.me">JerryBian/laobian.me</a>
            </strong>。
        </p>
        <p>最后一次启动于 <strong>@Model.SystemLastBoot</strong>，迄今为止已平稳运行 <strong>@Model.SystemRunningInterval</strong>。当前系统的版本为 <strong>@Model.SystemAppVersion</strong>。</p>
        <p>目前共有 <strong>@Model.PostTotalCount</strong> 篇文章，访问总量为 <strong>@Model.PostTotalAccessCount</strong>，最受欢迎的 <strong>@Config.Value.PostsPerPage</strong> 篇文章依次为：</p>
        <ol>
            @foreach (var post in Model.TopPosts)
            {
                <li>
                    <a href="@post.GetFullPath()">@post.Metadata.Title</a> <i>(@post.Accesses.Count.ToUSThousand())</i>
                </li>
            }
        </ol>
        @if (Model.LatestPost != null)
        {
            <p>
                最近一次的发布是于 <strong>@Model.LatestPost.Metadata.PublishTime.ToChinaDate()</strong> 发布了
                <strong>
                    <a href="@Model.LatestPost.GetFullPath()">@Model.LatestPost.Metadata.Title</a>
                </strong>。
            </p>
        }
        <p>共有 <strong>@Model.TagTotalCount</strong> 个文章标签，拥有文章数最多的 <strong>@Config.Value.PostsPerPage</strong> 个依次为：</p>
        <ol>
            @foreach (var tag in Model.TopTags.Keys)
            {
                <li>
                    <a href="/tag#@tag.Link">@tag.DisplayName</a> <i>(@Model.TopTags[tag])</i>
                </li>
            }
        </ol>

        <h3>关于转载以及声明</h3>
        <p>这里是我的个人博客，所有文章均为个人言论，除非特殊声明，均与我的雇主或者其他任何团体无关。</p>
        <p>遵守 <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">“署名-非商业性使用-禁止演绎 4.0 国际(CC BY-NC-ND 4.0)协议</a>。</p>

        <p class="text-muted">（本文完）</p>
    </div>
</article>

@section script{
    <script>
        document.addEventListener("DOMContentLoaded",
            function() {
                anchors.options = {
                    placement: 'right',
                    visible: 'hover',
                    base: '/about'
                };
                anchors.add('.post-content h3, .post-content h4');
            });
        activeNavItem('#nav_about');
    </script>
}