@model PagedViewModel<BlogPostView>
@inject IOptions<SwanOption> _option
@{
    Layout = "_BlogLayout";
    ViewData["Description"] = $"{_option.Value.Title}的博客";
}

<div class="mx-auto">
    <div class="row row-cols-1 row-cols-md-2 g-5">
        @foreach (var item in Model.Items)
        {
            var d = "bi bi-hash small text-muted";
            if(!item.IsPublishedNow)
            {
                d = "bi bi-file-lock small text-info";
            }
            <div class="col">
                <div class="card bg-transparent">
                    <div class="card-header d-flex align-items-center">
                        <a href="@item.FullLink" class="stretched-link text-reset text-decoration-none"><i class="@d"></i> @item.Raw.Title</a>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            @item.ExcerptText ...
                        </div>
                    </div>
                    <div class="card-footer text-muted small">
                        @Html.Raw(item.Metadata)
                    </div>
                </div>
            </div>
        }
    </div>

    <page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>
</div>
