@*@model List<BlacklistItem>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "黑名单 - Admin";
}

<div>
    <button class="btn btn-success" onclick="update()"><i class="bi bi-pen"></i> 更新黑名单</button>
</div>

<div class="mt-4">
    @foreach (var item in Model)
    {
        var c = "";
        if(item.InvalidTo > DateTime.Now)
        {
            c = "border-success";
        }

        <div class="card mb-4 @c">
            <div class="card-body">
                <h5 class="card-title mb-2 d-flex">
                    <i class="bi bi-signpost-split-fill"></i> @item.Ip
                    <a href="javascript:;" class="ms-auto" onclick="deleteIp('@item.Ip')"><i class="bi bi-trash text-danger"></i></a>
                    </h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-calendar2-date"></i> 阻止到 @item.InvalidTo.ToFullDateTime()</h6>
                <p class="card-text mt-3">
                    <strong><i class="bi bi-chat-dots"></i></strong>
                    @item.Reason
                    </p>
            </div>
            <div class="card-footer text-muted">
                <i class="bi bi-calendar2-date"></i> 创建于 @item.CreateAt.ToFullDateTime() &middot;
                <i class="bi bi-calendar2-date"></i> 更新于 @item.LastUpdateAt.ToFullDateTime()
            </div>
        </div>
    }
</div>

<div class="modal fade" tabindex="-1" id="udpateModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">更新黑名单</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <form class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="ip" class="form-label">IP 地址</label>
                            <input type="text" class="form-control" id="ip" name="ip" placeholder="IP 地址" autocomplete="off" autofocus required>
                            <div class="invalid-feedback">
                                必填
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="invalidTo" class="form-label">阻止到</label>
                            <input type="datetime-local" class="form-control" id="invalidTo" name="invalidTo" autocomplete="off" value="@DateTime.Now.AddMonths(1).ToFullDateTime()">
                        </div>
                        <div class="mb-3">
                            <label for="reason" class="form-label">阻止原因</label>
                            <textarea id="reason" class="form-control" name="reason"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">提交</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        function update() {
            let messageModal = bootstrap.Modal.getOrCreateInstance(document.querySelector("#udpateModal"));
            messageModal.show();
        }
        function deleteIp(ip){
            showConfirmMessageModal(`确定要删除 IP: ${ip} 吗？`, function(){
                submitRequest(`/@Constants.AreaAdmin/blacklist?ip=${ip}`, { method: "DELETE" });
            });
        }

        const form = document.querySelector("form");
        form.addEventListener('submit',
            function (event) {
                event.preventDefault();
                event.stopPropagation();
                var formData = new FormData(form);
                submitRequest("/@Constants.AreaAdmin/blacklist", { form: form, body: new URLSearchParams(formData), contentType: "application/x-www-form-urlencoded" });
            });
    </script>
            }*@