@model IEnumerable<BlogPost>

<div class="mb-5">
    @foreach (var item in Model)
    {
        var rowCls = item.IsPublished() ? "" : "text-muted";
        <div class="position-relative post-item py-2 @rowCls">
            <div class="text-truncate fs-5">
                <i class="bi bi-signpost small text-muted pe-1"></i>
                <span>@item.Object.Title </span>
            </div>
            <div class="text-muted text-nowrap ms-auto small pt-1 fst-italic ps-4">- @item.Object.PublishTime.ToCnDate() &middot; @item.Object.AccessCount 次访问</div>
            <a href="@item.GetUrl()" class="top-0 bottom-0 start-0 end-0 position-absolute" title="最后修改于：@item.Object.LastUpdateTime.ToCnDateTime()"></a>
        </div>
    }

    <div class="d-flex position-relative post-item py-2 fst-italic">
        <div class="text-truncate">
            <i class="bi bi-signpost small text-muted pe-1"></i>
            <span class="fs-6 text-success">阅读更多文章 <i class="bi bi-three-dots small"></i></span>
        </div>
        <a href="/blog/post#from-index" class="top-0 bottom-0 start-0 end-0 position-absolute"></a>
    </div>
</div>

@section Header {
    <h2 class="text-primary"><i class="bi bi-hash small text-muted"></i> 最新的文章 <i class="bi bi-hash small text-muted"></i></h2>
}

@section Script {
    <script>
        activeNavItem("#nav_blog");
    </script>
}