@model BlogPost

@{
    var d = "bi bi-hash small text-muted";
    if (!Model.IsPublished())
    {
        d = "bi bi-file-lock small text-info";
    }

    <div id="post" class="bg-white mx-auto rounded w-100">
        <article class="post">
            @Html.Raw(Model.HtmlContent)
            <p class="font-monospace">(完)</p>
        </article>

        <div class="alert alert-secondary mt-3 small">
            @{
                var tags = new List<string>();
                foreach (var item in Model.BlogTags)
                {
                    tags.Add($"<a href=\"{item.GetUrl()}\" class=\"text-reset text-decoration-none\"><i class=\"bi bi-tag\"></i> {item.Object.Name}</a>");
                }

                if (tags.Any())
                {
                    <div class="row">
                        <div class="col-md-3 text-muted mb-1">文章标签：</div>
                        <div class="col-md-9">@Html.Raw(string.Join(", ", tags))</div>
                    </div>
                }
            }

            @if (Model.BlogSeries != null)
            {
                <div class="row mt-2">
                    <div class="col-md-3 text-muted mb-1">文章系列：</div>
                    <div class="col-md-9">@Html.Raw($"<a href=\"{Model.BlogSeries.GetUrl()}\" class=\"text-reset text-decoration-none\"><i class=\"bi bi-bookmark\"></i> {Model.BlogSeries.Object.Name}</a>")</div>
                </div>
            }

            <div class="row mt-2">
                <div class="col-md-3 text-muted mb-1">最后修改于：</div>
                <div class="col-md-9"><i class="bi bi-calendar-minus"></i> @Model.Object.LastUpdateTime.ToCnDateTime()</div>
            </div>
        </div>
    </div>
}

@section Script {
    <script>
        activeNavItem("#nav_blog");
        hljs.highlightAll();
        document.addEventListener('DOMContentLoaded', function (event) {
            anchors.options = {
                placement: "right",
                visible: "hover",
                icon: "¶",
                base: "@Model.GetUrl()",
                class: "text-reset"
            };
            anchors.add("h4");
        });
    </script>
}

@section Header {
    <div class="alert alert-warning my-3 small">
        <i class="bi bi-exclamation-circle"></i>
        所有文章均为个人言论，除非特殊声明，均与我的雇主或者其他任何团体无关。未经授权，不可转载演绎。
    </div>
    <div class="small text-muted mb-2 mt-4">

        <i class="bi bi-calendar-minus"></i> @Model.Object.PublishTime.ToCnDate() &middot;
        <i class="bi bi-eye"></i> @Model.Object.AccessCount 次访问
        @if (Context.IsAuthorized())
        {
            <span> &middot; </span>
            <a href="/blog/post/@Model.Object.Id/edit"><i class="bi bi-pencil"></i></a>
        }
    </div>
    <h2 class="text-info mb-4">
        <i class="bi bi-hash small text-muted"></i>
        @Model.Object.Title
        <i class="bi bi-hash small text-muted"></i>
    </h2>
}