@model BlogPost
@{
    //Layout = "_BlogLayout";
    //ViewData["DatePublished"] = Model.Raw.PublishTime;
    //ViewData["DateModified"] = Model.Raw.LastUpdateTime;
    //ViewData["Description"] = Model.ExcerptText;
}

@{
    var d = "bi bi-hash small text-muted";
    if (!Model.IsPublished())
    {
        d = "bi bi-file-lock small text-info";
    }

    <div id="post" class="bg-white mx-auto rounded w-100">
        <article class="post">
            @Html.Raw(Model.HtmlContent)
            <p class="font-monospace">(完)</p>
        </article>
        <div class="alert alert-warning mt-3">
            所有文章均为个人言论，除非特殊声明，均与我的雇主或者其他任何团体无关。未经授权，不可转载演绎。
        </div>
    </div>
}

@section Script {
    <script>
        activeNavItem("#nav_blog");
        hljs.highlightAll();
        document.addEventListener('DOMContentLoaded', function (event) {
            anchors.options = {
                placement: "right",
                visible: "hover",
                icon: "¶",
                base: "@Model.GetUrl()",
                class: "text-reset"
            };
            anchors.add("h4");
        });
    </script>
}

@section Header {
    
    <div class="small text-muted mb-2">
        <i class="bi bi-calendar-minus"></i> @Model.Object.PublishTime.ToCnDate()
        @if (Context.IsAuthorized())
        {
            <span> &middot; </span>
            <a href="/blog/post/@Model.Object.Id/edit"><i class="bi bi-pencil"></i></a>
        }
    </div>
    <h2 class="text-info">
        <i class="bi bi-hash small text-muted"></i>
        @Model.Object.Title
        <i class="bi bi-hash small text-muted"></i>
    </h2>
    <div class="small text-muted mb-2">
        @{
            var tags = new List<string>();
            foreach (var item in Model.BlogTags)
            {
                tags.Add($"<a href=\"{item.GetUrl()}\" class=\"text-reset text-decoration-none\">{item.Object.Name}</a>");
            }

            if (tags.Any())
            {
                <text>@Html.Raw($"<i class=\"bi bi-tags\"></i> {string.Join(", ", tags)}")</text>
            }
        }

        @if (Model.BlogSeries != null)
        {
            @Html.Raw($"<a href=\"{Model.BlogSeries.GetUrl()}\" class=\"text-reset text-decoration-none\"><i class=\"bi bi-bookmark\"></i> {Model.BlogSeries.Object.Name}</a>")
        }
    </div>
}