@model IEnumerable<BlogTag>
@{
    Layout = "_BlogLayout";
    ViewData["Title"] = "添加新的文章";
}

<fieldset>
    <legend>添加新的文章</legend>
    <form class="needs-validation" asp-controller="Blog" asp-action="AddPost" method="post" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="文章标题" autocomplete="off" autofocus required>
            <div class="invalid-feedback">
                必填
            </div>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">链接</label>
            <input type="text" class="form-control" id="link" name="link" placeholder="文章链接" autocomplete="off" required>
            <div class="invalid-feedback">
                必填
            </div>
        </div>
        <div class="mb-3">
            <label for="excerpt" class="form-label">摘要</label>
            <textarea class="form-control" id="excerpt" name="excerpt" rows="3" placeholder="文章摘要" autocomplete="off"></textarea>
        </div>
        <div class="mb-3">
            <label for="mdContent" class="form-label">正文</label>
            <textarea class="form-control" id="mdContent" name="mdContent" rows="3" placeholder="文章正文" autocomplete="off" required></textarea>
            <div class="invalid-feedback">
                必填
            </div>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="isPublished" name="isPublished">
            <label class="form-check-label" for="isPublished">公开</label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="isTopping" name="isTopping">
            <label class="form-check-label" for="isTopping">置顶</label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="containsMath" name="containsMath">
            <label class="form-check-label" for="containsMath">包含数学公式</label>
        </div>
        <div class="mb-3">
            <label for="publishTime" class="form-label">发表时间</label>
            <input type="datetime-local" class="form-control" id="publishTime" value="@DateTime.Now.ToDateAndTimeInHourAndMinute()" name="publishTime">
        </div>
        @if (Model.Any())
        {
            <div class="mb-3">
                <label class="form-label">标签</label>
                <div id="tagsDiv">
                    @foreach (var tag in Model)
                    {
                        var id = StringUtil.GenerateRandom();
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="@id" value="@tag.Id" name="tag">
                            <label class="form-check-label" for="@id">@tag.DisplayName</label>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">提交</button>
        </div>

    </form>
</fieldset>


@section Scripts{
    <script>
        activeNavItem("#nav_blog_posts");
        const mdContentEditor = prepareEditor(document.querySelector("#mdContent"), "blog_post_add_md_content_@DateTime.Now.Ticks");
        const excerptEditor = prepareEditor(document.querySelector("#excerpt"), "blog_post_add_excerpt_@DateTime.Now.Ticks");
        const form = document.querySelector("form");
        form.addEventListener('submit',
            function(event) {
                event.preventDefault();
                event.stopPropagation();
                submitRequest("/blog/post", { form: form, body: new URLSearchParams(new FormData(form)), contentType: "application/x-www-form-urlencoded" });
            });
    </script>
}