@model List<Laobian.Share.Model.Blog.BlogPostRuntime>
@inject IOptions<AdminOptions> _config
@{
    Layout = "_BlogLayout";
    ViewData["Title"] = "所有的博客文章";
}

<div class="table-responsive">
    <table class="table caption-top align-middle table-bordered text-center">
        <caption>文章总数: @Model.Count.ToThousandHuman() <a href="/blog/post/add" class="btn btn-info float-end"><i class="fas fa-plus"></i> 添加新的文章</a></caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">是否公开</th>
            <th scope="col">文章标题</th>
            <th scope="col">访问量</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <th>@Html.Raw(post.Raw.IsPostPublished() ? "<i class=\"fas fa-eye text-success\"></i>" : "<i class=\"fas fa-eye-slash text-danger\"></i>")</th>
                <th class="text-start">
                    <i class="fas fa-external-link-alt"></i>
                    <a href="@post.Raw.GetFullPath(_config.Value.BlogRemoteEndpoint)" target="_blank">@post.Raw.Title</a>
                </th>
                <th>
                    @post.GetAccessCount().ToThousandHuman()
                    <a href="javascript:;" onclick="showPostAccessChart('@post.Raw.Link')">
                        <i class="fas fa-chart-line"></i>
                    </a>
                </th>
                <th>
                    <a class="btn btn-success" href="/blog/post/@post.Raw.Link/update">
                        <i class="fas fa-edit"></i> 编辑
                    </a>
                </th>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal h-100" id="postAccessChartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content p-1">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-1 bg-light">
                <canvas id="postAccessChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        activeNavItem("#nav_blog_posts");
        const modalEl = document.querySelector("#postAccessChartModal");
        const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
        let chart;

        function showPostAccessChart(postLink) {
            submitRequest(`/blog/post/${postLink}/access`,
                {
                    okAction: function(chartResponse) {
                        if (chart) {
                            chart.destroy();
                        }
                        chart = createChart(document.querySelector("#postAccessChart"), chartResponse);
                        modal.show();
                    }
                });
        }
    </script>
}