@model List<BlogPostRuntime>
@inject IOptions<LaobianAdminOption> _config
@{
    ViewData["Title"] = "Blog Posts";
}
<div class="table-responsive">
    <table class="table caption-top">
        <caption>文章总数: @Model.Count <a href="/blog/post/add" class="btn btn-primary float-end"><i class="fas fa-plus"></i> 添加新的文章</a></caption>
        <thead class="table-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">修改日期</th>
            <th scope="col">文章标题</th>
            <th scope="col">是否公开</th>
            <th scope="col">总访问量</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in Model)
        {
            var trClass = "table-primary";
            if (!post.Raw.IsPublished)
            {
                trClass = "table-warning";
            }

            <tr class="@trClass">
                <th>
                    <a href="/blog/post/update/@post.Raw.Link">
                        <i class="fas fa-edit"></i>
                    </a>
                </th>
                <th>
                    <i class="fas fa-calendar-alt"></i> @post.Raw.LastUpdateTime.ToChinaDate()
                </th>
                <th>
                    <i class="fas fa-external-link-alt"></i>
                    <a href="@post.Raw.GetFullPath(_config.Value.BlogRemoteEndpoint)">@post.Raw.Title</a>
                </th>
                <th>@post.Raw.IsPostPublished()</th>
                <th>
                    @post.GetAccessCount().ToUSThousand()
                </th>
            </tr>
        }
        </tbody>
    </table>
</div>