@model DiaryRuntime
@inject IOptions<JarvisOptions> _option
@{
    Layout = "_DiaryLayout";
    ViewData["Title"] = $"日记：{Model.Raw.Date.ToChinaDate()}";
}
<h2 class="mb-3">
    @Model.Raw.Date.ToChinaDate()
</h2>
<hr/>
<article class="article-content">
    @Html.Raw(Model.HtmlContent)
</article>

@section Aside{
    <div class="d-grid mb-3">
        <a class="btn btn-outline-success" href="@_option.Value.AdminRemoteEndpoint/diary/update?date=@Model.Raw.Date.ToDate()"><i class="fas fa-edit"></i> 编辑日记</a>
    </div>
    
    <div class="list-group mb-3">
        @if (Model.Prev != null)
        {
            <a href="@Model.Prev.Raw.GetFullPath(_option.Value)" class="list-group-item list-group-item-primary list-group-item-action"><i class="fas fa-caret-left"></i> 前一篇：@Model.Prev.Raw.Date.ToChinaDate()</a>
        }
        @if (Model.Next != null)
        {
            <a href="@Model.Next.Raw.GetFullPath(_option.Value)" class="list-group-item list-group-item-primary list-group-item-action"><i class="fas fa-caret-right"></i> 后一篇：@Model.Next.Raw.Date.ToChinaDate()</a>
        }
        <a href="/diary/@Model.Raw.Date.Year.ToString("D4")" class="list-group-item list-group-item-primary list-group-item-action"><i class="fas fa-angle-double-right"></i> 更多 <span class="text-decoration-underline">@Model.Raw.Date.Year.ToString("D4") 年</span> 日记</a>
        <a href="/diary/@Model.Raw.Date.Year.ToString("D4")/@Model.Raw.Date.Month.ToString("D2")" class="list-group-item list-group-item-primary list-group-item-action"><i class="fas fa-angle-double-right"></i> 更多 <span class="text-decoration-underline">@Model.Raw.Date.Year.ToString("D4") 年 @Model.Raw.Date.Month.ToString("D2")月</span> 日记</a>
    </div>

    <div class="list-group mb-3">
        <div class="list-group-item"><i class="fas fa-calendar-plus"></i> 创建于：@Model.Raw.CreateTime.ToDateAndTime()</div>
        <div class="list-group-item"><i class="fas fa-calendar-check"></i> 修改于：@Model.Raw.LastUpdateTime.ToDateAndTime()</div>
    </div>
}