@model PagedViewModel<DiaryRuntime>
@inject IOptions<JarvisOptions> _options
@{
    Layout = "_DiaryLayout";
    ViewData["Title"] = "所有日记";
}

@foreach (var item in Model.Items)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@item.Raw.Date.ToChinaDate()</h5>
            <div class="card-text">@Html.Raw(item.HtmlContent)</div>
            <a href="@item.Raw.GetFullPath(_options.Value)" class="btn btn-primary">阅读全文</a>
        </div>
    </div>
}

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>