@model PagedViewModel<DiaryRuntime>
@inject IOptions<JarvisOptions> _options
@{
    Layout = "_DiaryLayout";
}

@foreach (var item in Model.Items)
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-calendar-alt"></i> @item.Raw.Date.ToChinaDate()
        </div>
        <div class="card-body">
            <div class="card-text">
                @Html.Raw(item.HtmlExcerpt)
                <p><a href="@item.Raw.GetFullPath(_options.Value)" class="btn btn-outline-dark">阅读全文</a></p>
            </div>
        </div>
    </div>
}

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>