@inject IOptions<SwanOption> _option
@inject IHostEnvironment _env
@inject ISwanService _swanService
@{
    Layout = "_Layout";
    var hasSeries = (await _swanService.FindAsync<PostSeries>(Context)).Any();
}

<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand brand" href="/">
            @_option.Value.Title
        </a>
        <button class="navbar-toggler hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="导航菜单">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/post" id="navbarPost"><i class="bi bi-file-text"></i> 文章</a>
                </li>
                @if (hasSeries)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/post/series" id="navbarSeries"><i class="bi bi-bookmarks"></i> 系列</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="/post/tag" id="navbarTag"><i class="bi bi-tags"></i> 标签</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/read" id="navbarRead"><i class="bi bi-book"></i> 阅读</a>
                </li>
                @if(Context.IsAuthorized())
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/admin"><i class="bi bi-gear"></i> 管理</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="bg-light pt-2">
    <div class="container">
        <div class="row">
            <main class="col-md-9 bg-white px-3 px-md-4 py-3 py-md-4 rounded shadow-sm">@RenderBody()</main>
            <aside class="col-md-3 small d-none d-md-block text-muted" id="aside">
                @await RenderSectionAsync("Aside", false)
            </aside>
        </div>
    </div>
</div>

<footer class="text-center py-3 small mt-auto bg-light">
    &copy; @DateTime.Now.Year @_option.Value.Title &middot;
    <a href="mailto:@_option.Value.ContactEmail" class="text-reset"><i class="bi bi-envelope"></i></a>
</footer>

@section Style {
    <link href="~/style.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="alternate" type="application/rss+xml" title="Post RSS" href="/post/rss">

    @await RenderSectionAsync("Style", false)
}

@section Script {
    <script src="~/script.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Script", false)

    @if (_env.IsProduction() && !Context.IsAuthorized())
    {
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@_option.Value.GTagId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '@_option.Value.GTagId');
        </script>
    }
}
