@inject IOptions<LaobianOption> _option
@inject IHostEnvironment _env
<!DOCTYPE html>
<html lang="zh">
<head>
    @{
        var buildOption = new HtmlHeadBuildOption
            {
                ApplicationTitleColor = "#da532c",
                Description = ViewData["Description"]?.ToString(),
                RobotsEnabled = bool.TryParse(ViewData["RobotsEnabled"]?.ToString(), out var result) ? result : _env.IsProduction() && Context.User.Identity?.IsAuthenticated != true,
                SafariPinnedTabColor = "#5bbad5",
                ThemeColor = "#ffffff",
                Title = ViewData["Title"]?.ToString(),
                BaseTitle = _option.Value.Title,
                BaseImage = $"{_option.Value.BaseUrl}/android-chrome-512x512.png",
                Image = ViewData["Image"]?.ToString(),
                DatePublished = ViewData["DatePublished"] == null ? DateTime.Now : Convert.ToDateTime(ViewData["DatePublished"]),
                DateModified = ViewData["DateModified"] == null ? DateTime.Now : Convert.ToDateTime(ViewData["DateModified"])
            };

        var headerBuilder = new HtmlHeadBuilder(_option.Value, buildOption);
        @Html.Raw(headerBuilder.Build())
    }
    <link href="~/style.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="w-100 d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg wrapper my-1">
        <div class="container">
            <a class="navbar-brand" href="/">@ViewData["BrandName"]</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/blog" id="nav_blog"><i class="bi bi-type-bold"></i> 博客</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/read" id="nav_read"><i class="bi bi-book"></i> 阅读</a>
                    </li>
                    @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="nav_admin" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person"></i>
                                @Context.Request.HttpContext.User.Identity.Name
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/admin/blog/post/add"><i class="bi bi-plus-circle"></i> 发表新的文章</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/read/add"><i class="bi bi-plus-circle"></i> 发表新的阅读</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-success" href="javascript:;" id="admin_upload"><i class="bi bi-upload"></i> 上传文件</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i> 登出账号</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <main class="py-5 container shadow-sm my-2 rounded-1 bg-white" id="main">
        <div class="wrapper">@RenderBody()</div>
    </main>

    <footer class="mt-auto small py-2 text-center wrapper">
        &copy; @DateTime.Now.Year &middot;
        <a href="mailto:@_option.Value.AdminEmail" class="text-reset"><i class="bi bi-envelope"></i></a>
    </footer>

    <div class="modal fade" tabindex="-1" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="messageModalBody">
                </div>
                <div class="modal-footer" id="messageModalFooter">
                </div>
            </div>
        </div>
    </div>

    <script src="~/script.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Script", false)
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZB78XKVE3V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZB78XKVE3V');
    </script>
</body>
</html>