@model IEnumerable<BookItem>
@inject IOptions<AdminOptions> _config
@{
    ViewData["Title"] = "所有的阅读";
}

<div>
    <table class="table caption-top">
        <caption>阅读总数: @Model.Count() <a href="/read/add" class="btn btn-primary float-end"><i class="fas fa-plus"></i> 添加新的阅读</a></caption>
        <thead class="table-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">书名</th>
            <th scope="col">开始时间</th>
            <th scope="col">是否读完</th>
            <th scope="col">是否公开</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            var trClass = "table-success";
            if (!item.IsCompleted)
            {
                trClass = "table-warning";
            }
            <tr class="@trClass">
                <th>
                    <a class="btn btn-info me-2" href="/read/update/@item.Id"><i class="fas fa-edit"></i> 编辑</a>
                    <a class="btn btn-danger" href="javascript:;" onclick="deleteBookItem('@item.Id')"><i class="fas fa-trash-alt"></i> 删除</a>
                </th>
                <th>@item.BookName</th>
                <th>@item.StartTime.ToChinaDate()</th>
                <th>@item.IsCompleted</th>
                <th>@item.IsPublished</th>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        function deleteBookItem(id) {
            fetch(`/read/${id}`,
                    {
                        method: 'DELETE'
                    })
                .then(response => {
                    if (response.ok) {
                        window.location.reload(true);
                    }
                })
                .catch(err => { console.log(err) });
        }
    </script>
}