@model PagedViewModel<Laobian.Share.Model.Jarvis.NoteRuntime>
@inject IOptions<JarvisOptions> _options
@{
    Layout = "_NoteLayout";
}

@foreach (var item in Model.Items)
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-file-alt"></i> @item.Raw.Title
        </div>
        <div class="card-body">
            <div class="card-text">
                @Html.Raw(item.HtmlExcerpt)
                @if (item.Tags.Any())
                {
                    <p>@Html.Raw(item.GetTagHtml())</p>
                }
                <p>
                    <a href="@item.Raw.GetFullPath(_options.Value.JarvisRemoteEndpoint)" class="btn btn-outline-dark">阅读全文</a>
                </p>
            </div>
        </div>
    </div>
}

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>