@inject ISwanService _swanService
@model IEnumerable<IGrouping<int, SwanRead>>
@{
    Layout = "_LayoutPublic";
    ViewData["Title"] = "阅读";
}

<div data-bs-spy="scroll" data-bs-target="#archiveIndex" data-bs-smooth-scroll="true">
    @foreach (var item in Model)
    {
        <div class="pb-2 mb-2 pt-3 border-bottom">
            <h5 class="ps-2 mb-3" id="year-@item.Key"><i class="bi bi-book"></i> @item.Key 年阅读</h5>
            @foreach (var item2 in item)
            {
                <div class="mb-3 ps-2 pe-1 container-fluid">
                    <div class="row">
                        <div class="col-md-2 text-truncate">
                            <span class="small text-muted"><i class="bi bi-caret-right"></i> @item2.CreatedAt.ToCnDate(true)</span>
                        </div>
                        <div class="col-md-9 text-truncate">
                            <i class="bi bi-hash small text-muted"></i>@item2.BookName
                            @if (item2.Grade > 0)
                            {
                                <i class="bi bi-hand-thumbs-up-fill text-success"></i>
                            }

                            @if (item2.Grade < 0)
                            {
                                <i class="bi bi-hand-thumbs-down-fill text-dark"></i>
                            }

                            <span class="small text-muted fst-italic ms-3">
                                @Html.Raw(item2.HtmlMetadata)
                            </span>
                        </div>
                        <div class="col-md-1">
                            @if (!string.IsNullOrEmpty(item2.HtmlComment) || item2.BlogPosts.Any())
                            {
                                <a class="text-reset" href="javascript:;" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" data-bs-content-id="comment-@item2.Id">
                                    <i class="bi bi-chat-square-dots"></i></a>
                                <div class="d-none" id="comment-@item2.Id">
                                    <h3 class="popover-header">
                                        @item2.BookName
                                    </h3>

                                    <div class="popover-body">
                                        @if (!string.IsNullOrEmpty(item2.HtmlComment))
                                        {
                                            @Html.Raw(item2.HtmlComment)
                                        }

                                        @if (item2.BlogPosts.Any())
                                        {
                                            <ul>
                                                @foreach (var post in item2.BlogPosts)
                                                {
                                                    <li>
                                                        <a href="@post.GetFullLink()" class="text-reset">@post.Title</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                            }

                        </div>
                    </div>


                </div>
            }
        </div>
    }
</div>


@section Aside{
    <div class="card" id="archiveIndex">
        <div class="card-header">
            <span class="pb-1 border-bottom border-dark pe-2 text-truncate">
                <i class="bi bi-book-half"></i> 阅读索引
            </span>
        </div>
        <div class="list-group">
            @foreach (var item in Model)
            {
                <div class="list-group-item list-group-action text-muted">
                    <a href="#year-@item.Key"><i class="bi bi-book"></i> @item.Key 年阅读</a>
                </div>
            }
        </div>
    </div>
}

@section Script{
    <script>
        setActive(document.querySelector("#navbarRead"));
        document.addEventListener('DOMContentLoaded', function (event) {
            anchors.options = {
                placement: "right",
                visible: "hover",
                icon: "¶",
                base: "/post/tag",
                class: "text-reset"
            };
            anchors.add("h4, h5");

            const list = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            list.map((el) => {
                let opts = {
                    animation: false,
                }
                if (el.hasAttribute('data-bs-content-id')) {
                    opts.content = document.getElementById(el.getAttribute('data-bs-content-id')).innerHTML;
                    opts.html = true;
                }
                new bootstrap.Popover(el, opts);
            });
        });
    </script>
}