<div class="card mb-3">
    <div class="card-header">信息</div>
    <div class="card-body">
        <div class="card-text">
            <table>
                <tr>
                    <td>当前版本</td>
                    <td>@ViewData["Version"]</td>
                </tr>
                <tr>
                    <td>文章总数</td>
                    <td>
                        @ViewData["Posts"]
                    </td>
                </tr>
                <tr>
                    <td>文章阅读</td>
                    <td title="@ViewData["PostsAccessCountString"]">
                        @ViewData["PostsAccessCount"] 次
                    </td>
                </tr>
                <tr>
                    <td>系统运行</td>
                    <td title="@ViewData["RunTimeTitle"]">@ViewData["RunTimeString"]</td>
                </tr>
            </table>
        </div>
    </div>
</div>