@*@model BlogPostView
@{
    Layout = "_BlogLayout";
    ViewData["DatePublished"] = Model.Raw.PublishTime;
    ViewData["DateModified"] = Model.Raw.LastUpdateTime;
    ViewData["Description"] = Model.ExcerptText;
}

@{
    var d = "bi bi-hash small text-muted";
    if (!Model.IsPublishedNow)
    {
        d = "bi bi-file-lock small text-info";
    }

    <div id="post" class="bg-white mx-auto rounded w-100">
        <div class="mb-4">
            <div class="small text-muted d-flex">
                <div>@Html.Raw(Model.Metadata)</div>
                @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                {
                    <div class="ms-auto">
                        <a href="/admin/blog/post/edit/@Model.Raw.Id"><i class="bi bi-pencil-square text-success"></i></a>
                    </div>
                }
            </div>
            <div class="fs-4">
                <i class="@d"></i>
                @Model.Raw.Title
            </div>
        </div>
        <article class="post">
            @Html.Raw(Model.HtmlContent)
            <p class="font-monospace">(完)</p>
        </article>
        <div class="alert alert-warning mt-3">
            所有文章均为个人言论，除非特殊声明，均与我的雇主或者其他任何团体无关。未经授权，不可转载演绎。
        </div>
    </div>
}

@section Script {
    <script>
        hljs.highlightAll();
        document.addEventListener('DOMContentLoaded', function (event) {
            anchors.options = {
                placement: "right",
                visible: "hover",
                icon: "¶",
                base: "@Model.FullLink",
                class: "text-reset"
            };
            anchors.add("h4");
        });
    </script>
}*@